                            

{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'css/wallet.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="main-section">
        {% include 'includes/cover.html' %}
        <div class="page-section account-header buyer-logged-in">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        {% include 'includes/c_sidebar.html' %}
                    </div>
                    <h2 class="text-center">Payment Failed</h2>
                </div>
            </div>
        </div>
    </div>

{% endblock %}