

{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="main-section">
        {% include 'includes/cover.html' %}
        <div class="page-section account-header buyer-logged-in">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        {% include 'includes/c_sidebar.html' %}
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ title }}: {{ result }}</div>
                        <div class="panel-body">
                            <p>order_id:{{ order_id }}</p>
                            <p>amount:{{ amount }}</p>
                            <p>order_desc:{{ order_desc }}</p>
                            <p>vnp_TransactionNo:{{ vnp_TransactionNo }}</p>
                            {% if vnp_ResponseCode == '00' %}
                                <p>vnp_ResponseCode: {{ vnp_ResponseCode }} - Thành công</p>
                            {% else %}
                                <p>vnp_ResponseCode: {{ vnp_ResponseCode }} - Lỗi</p>
                            {% endif %}
                            {% if msg %}
                                <p class="alert-warning"> {{ msg }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}