.payment-holder {
    line-height: 28px;
    position: relative;
    height: 30px ;
    width: 90px;
    margin: 20px 0px 0px;
}

.btnArea {
  width:100%;
  text-align:center;
    padding: 0px 0 0 303px;

}
.btnArea button,
.btnArea a.btn-primary,
.btnArea a.btn-secondary {
  display:inline-block;
  min-width:180px;
  padding:20px;
  margin:0 20px;
  border:none;
  border-radius:5px;
  font-weight:bold;
}

.key {
    background: #004290;
}
