{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'css/customer_setting.css' %}" rel="stylesheet">

{% endblock %}
{% block content %}
    <div class="main-section">
    {% include 'includes/cover.html' %}
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row" style="display: block">

                <form action="{% url 'place-order' %}" method="post">
                    {% csrf_token %}
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="user-sidebar">
                            <div class="user-order">
                                <h1>PayPal Payment</h1>
                                <p>Order Number: {{ order.order_number }}</p>
                                <p>Total Amount: ${{ formatted_total }}</p>
                                <span id="confirm-url" data-url="{% url 'confirm_paypal_payment' %}"
                                      style="display: none;"></span>
                                <span id="confirm-url" data-url="{% url 'my_orders' %}"
                                      style="display: none;"></span>
                                <div class="paypal-logo"
                                     style="background-image: url('{% static "employee/img/pp_h_rgb_logo_tn.jpg" %}');"></div>
                                <div id="paypal-button-container" style="margin-left: 164px"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        const confirmUrl = document.getElementById('confirm-url').getAttribute('data-url');
        const completeUrl = document.getElementById('my_orders').getAttribute('data-url');
        const successUrl = '{{ success_url }}';
        const errorUrl = '{{ error_url }}';

        paypal.Buttons({
            // Set up the transaction
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: {{converted_total}}
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    // Send the payment details to your server
                    return fetch(confirmUrl, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({
                            orderID: data.orderID,
                            orderNumber: '{{ order.order_number }}',
                            paymentID: details.id
                        })
                    }).then(res => res.json())
                        .then(data => {
                            if (data.status === 'success') {
                                window.location.href = successUrl;
                            } else {
                                window.location.href = errorUrl;
                            }
                        });
                });
            }
        }).render('#paypal-button-container');
    </script>
{% endblock %}
