amqp==5.2.0
asgiref==3.8.1
async-timeout==4.0.3
billiard==4.2.0
blinker==1.8.2
celery==5.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cron-descriptor==1.4.3
Django==5.0.6
django-celery-beat==2.6.0
django-timezone-field==6.1.0
Flask==3.0.3
gunicorn==22.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
kombu==5.3.7
MarkupSafe==2.1.5
packaging==24.0
prompt_toolkit==3.0.45
python-crontab==3.1.0
python-dateutil==2.9.0.post0
redis==5.0.4
six==1.16.0
sqlparse==0.5.0
typing_extensions==4.12.0
tzdata==2024.1
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.0.3
psycopg2-binary==2.9.1
python-dotenv~=1.0.1
django-geoposition==0.3.0
django-utils-six
Pillow==10.3.0
django_widget_tweaks==1.5.0
pyjwt~=2.8.0
google~=3.0.0
django-ckeditor==6.7.1
django-paypal==2.1
django-csp==3.8