{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'employee/css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="wrapper">

        <!-- Main Section Start -->
        <div class="main-section">
            <!-- Home Pages Elements Strat -->
            <!-- Main Search Start -->
            <div class="page-section nopadding cs-nomargin"
                 style="padding-top: 570px; padding-bottom: 155px; margin-bottom: 0px; background: url('{% static 'employee/img/7377287.jpg' %}') no-repeat center / cover;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="element-title">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="main-search fancy bg-holder">
                                <form action="{% url 'search' %}" method='GET'>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                                            <div class="field-holder">
                                                <input type="text" name="keyword" placeholder="Resturant name">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                                            <div class="field-holder">
                                                <ul>
                                                    <li class="select-location">
                                                        <div class="foodbakery-locations-fields-group foodbakery-focus-out">
                                                        <span class="foodbakery-search-location-icon"><i
                                                                class="icon-location"></i></span>
                                                            <span id="foodbakery_radius_location_open333"
                                                                  class="foodbakery-radius-location"><i
                                                                    class="icon-target5"></i></span>
                                                            <input type="text" class="location-field-text filter"
                                                                   id="search_box"
                                                                   placeholder="All Locations">
                                                            <input type="hidden" name="address" value=""
                                                                   id="id_address">

                                                            <input type="hidden" name="lat" value="" id="id_latitude">
                                                            <input type="hidden" name="lng" value="" id="id_lngitude">

                                                        </div>
                                                        <div class="select-location" id="foodbakery-radius-range333"
                                                             style="display: none;">
                                                            <div class="select-popup popup-open">
                                                                <a id="location_close_popup333" href="javascript:0;"
                                                                   class="location-close-popup">
                                                                    <i class="icon-times"></i></a>
                                                                <input type="hidden" class="foodbakery-radius"
                                                                       name="foodbakery_radius" value="10">
                                                                <p>Show with in</p>
                                                                <input id="ex16b333" type="text" data-value="10"
                                                                       value="10"
                                                                       style="display: none;">
                                                                <script>
                                                                    jQuery(document).ready(function () {
                                                                        var elem = jQuery("#ex16b333");
                                                                        if (elem.length != "") {
                                                                            elem.slider({
                                                                                step: 1,
                                                                                min: 0,
                                                                                max: 500,
                                                                                value: 10,
                                                                            });
                                                                            elem.on("slideStop", function () {
                                                                                var rang_slider_val = elem.val();
                                                                                jQuery("#ex16b333CurrentSliderValLabel").html(rang_slider_val);
                                                                                jQuery("#range-hidden-foodbakery-radius333").val(rang_slider_val);
                                                                                //foodbakery_restaurant_content("333");
                                                                            });
                                                                            elem.on("slide", function () {
                                                                                jQuery("#ex16b333CurrentSliderValLabel").html(elem.val());
                                                                            });
                                                                        }

                                                                        $("#foodbakery_radius_location_open333").click(function () {
                                                                            $("#foodbakery-radius-range333").show();
                                                                        });
                                                                        $("#location_close_popup333").click(function () {
                                                                            $("#foodbakery-radius-range333").hide();
                                                                        });
                                                                    });
                                                                </script>
                                                                <span>Miles: <span
                                                                        id="ex16b333CurrentSliderValLabel">10</span></span><br>
                                                                <p class="my-location">of <i
                                                                        class="cs-color icon-location-arrow"></i><a
                                                                        id="foodbakery-geo-location-all"
                                                                        class="cs-color foodbakery-geo-location313324"
                                                                        href="javascript:void(0)">My location</a></p>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            <select name="radius" id="radius" style="height: 50px" required>
                                                <option value="" selected>Choole Radius</option>
                                                <option value="5">5 miles</option>
                                                <option value="10">10 miles</option>
                                                <option value="15">15 miles</option>
                                                <option value="20">20 miles</option>
                                                <option value="25">25 miles</option>
                                                <option value="25">30 miles</option>
                                                <option value="25">35 miles</option>

                                            </select>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                            <div class="field-holder">
                                                <input type="submit" value="Search">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {#                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">#}
                        {#                            <div class="counter-sec">#}
                        {#                                <div class="row">#}
                        {#                                    <div class="col-lg-6 col-md-6 col-xs-6 ">#}
                        {#                                        <div class="counter-holder counter-one">#}
                        {#                                            <div class="text-holder">#}
                        {#                                                <i class="icon- icon-check-circle"></i>#}
                        {#                                                <strong class="count">{{ information.vendors }}</strong>#}
                        {#                                                <span>Restaurant</span>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {##}
                        {#                                    <div class="col-lg-6 col-md-6 col-xs-6 ">#}
                        {#                                        <div class="counter-holder counter-three">#}
                        {#                                            <div class="text-holder">#}
                        {#                                                <i class="icon- icon-check-circle"></i>#}
                        {#                                                <strong class="count">{{ information.profile }}</strong>#}
                        {#                                                <span>Registered Users</span>#}
                        {#                                            </div>#}
                        {#                                        </div>#}
                        {#                                    </div>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                        </div>#}

                    </div>
                </div>
            </div>
            <!-- Main Search End -->
            <div class="page-section nopadding cs-nomargin"
                 style="margin-top: 0px;padding-top: 60px;padding-bottom: 0px;margin-bottom: 0px;">
                <div class="container" style="        max-width: 1774px;">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="features-container">
                                <div class="feature-card">
                                    <div class="feature-image">
                                        <img src="{% static 'employee/img/food_online.jpeg' %}"
                                             alt="Delicious curry with rice">
                                    </div>
                                    <div class="feature-content">
                                        <h2>Order Online</h2>
                                        <p>Stay home and order to your doorstep</p>
                                        <a href="{% url 'food_item' %}" class="feature-btn" data-feature="order">Order
                                            Now</a>
                                    </div>
                                </div>

                                <div class="feature-card">
                                    <div class="feature-image">
                                        <img src="{% static 'employee/img/dinner.jpg' %}" alt="Elegant dining setting">
                                    </div>
                                    <div class="feature-content">
                                        <h2>Dining</h2>
                                        <p>View the city's favourite dining venues</p>
                                        <a href="{% url 'marketplace' %}" class="feature-btn" data-feature="dining">View
                                            Venues</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Top Restarurants Section Start -->
        <div class="page-section nopadding cs-nomargin"
             style="margin-top: 0px;padding-top: 60px;padding-bottom: 0px;margin-bottom: 0px;background: #ffffff;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="element-title align-left">
                            <h2>Top Premium Restaurants</h2>
                            <p>Explore the best VIP restaurants, bars, and cafés.</p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="company-logo">
                            <ul id="vendorList" class="premium-vendors-list">
                                {% for vendor in vendors_premium %}
                                    <li class="has-border premium-vendor-item">
                                        <figure class="premium-vendor-figure">
                                            <a href="{{ vendor.get_absolute_url }}" class="vendor-link">
                                                {% if vendor.user_profile.profile_picture %}
                                                    <img src="{{ vendor.user_profile.profile_picture.url }}"
                                                         class="vendor-img"
                                                         alt="{{ vendor.name }}">
                                                {% else %}
                                                    <img src="{% static 'employee/img/download.png' %}"
                                                         class="vendor-img" alt="No image">
                                                {% endif %}
                                                <div class="premium-badge">VIP</div>
                                            </a>
                                            <div class="vendor-name">
                                                <a href="{% url 'vendor_detail' vendor.vendor_slug %}"
                                                   class="vendor-name-link">{{ vendor.name }}</a>
                                            </div>
                                        </figure>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="flash-sale-container">
                            <div class="flash-sale-title" style="    margin-top: 66px;">
                                <h3>Recommended Food {{ time_range }}</h3>
                                <a href="{% url 'food_item_recomment' %}" class="view-all">Xem Tất Cả</a>
                            </div>
                        </div>
                        <div class="categories-holder" style="    padding: 15px 0 0;">

                            {#								<div class="col-lg-2 col-sm-4 col-xs-6">#}
                            {#									<div class="col-lg-2 col-sm-4 col-xs-6">#}
                            {#										<div class="categories-list">#}
                            {#											<a href="#">#}
                            {#												<img alt="" src="assets/extra-images/food-icon-19-1.png">#}
                            {#												<h6><span>BB.Q</span></h6>#}
                            {#											</a>#}
                            {#										</div>#}
                            {#									</div>#}
                            {#								</div>#}
                            {#								<div class="col-lg-2 col-sm-4 col-xs-6">#}
                            {#									<div class="categories-list">#}
                            {#										<a href="#">#}
                            {#											<img alt="" src="assets/extra-images/food-icon-22-1.png">#}
                            {#											<h6><span>Beef Roast</span></h6>#}
                            {#										</a>#}
                            {#									</div>#}
                            {#								</div>#}
                            {#								<div class="col-lg-2 col-sm-4 col-xs-6">#}
                            {#									<div class="categories-list">#}
                            {#										<a href="#">#}
                            {#											<img alt="" src="assets/extra-images/food-icon-07-1.png">#}
                            {#											<h6><span>Chicken Roast</span></h6>#}
                            {#										</a>#}
                            {#									</div>#}
                            {#								</div>#}
                            {#								<div class="col-lg-2 col-sm-4 col-xs-6">#}
                            {#									<div class="categories-list">#}
                            {#										<a href="#">#}
                            {#											<img alt="" src="assets/extra-images/food-icon-28-1.png">#}
                            {#											<h6><span>Cupcake</span></h6>#}
                            {#										</a>#}
                            {#									</div>#}
                            {#								</div>#}
                            {#								<div class="col-lg-2 col-sm-4 col-xs-6">#}
                            {#									<div class="categories-list">#}
                            {#										<a href="#">#}
                            {#											<img alt="" src="assets/extra-images/food-icon-21-1.png">#}
                            {#											<h6><span>Doughnut</span></h6>#}
                            {#										</a>#}
                            {#									</div>#}
                            {#								</div>#}
                            {#								<div class="col-lg-2 col-sm-4 col-xs-6">#}
                            {#									<div class="categories-list">#}
                            {#										<a href="#">#}
                            {#											<img alt="" src="assets/extra-images/food-icon-02-1.png">#}
                            {#											<h6><span>Tea</span></h6>#}
                            {#										</a>#}
                            {#									</div>#}
                            {#								</div>#}

                            <section class="slider-container">
                                <div class="slider">
                                    {% for item in food_items %}
                                        <div class="container-item">
                                            <div class="item">
                                                <div class="item-info">
                                                    <div class="item-image"
                                                         style="background: url('{{ item.image.url }}') no-repeat center center; background-size: cover;"></div>
                                                    <div class="item-details">
                                                        <h3 class="item-title">{{ item.food_name }}</h3>
                                                        <p class="item-price">Price: {{ item.price }} VND</p>
                                                        <p class="item-description">{{ item.food_title|truncatechars:50|safe }}</p>
                                                    </div>
                                                </div>
                                                <div class="item-hover-content">
                                                    <a href="{% url 'food_item_detail' item.id %}"
                                                       class="btn buy-now">Buy Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="prev-btn">
                                    <i class="fa fa-chevron-left"></i>
                                </div>
                                <div class="next-btn">
                                    <i class="fa fa-chevron-right"></i>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Restarurants Section End -->
        <!-- Choose From Most Popular Listin Start -->
        <div class="page-section nopadding cs-nomargin"
             style="margin-top: 0px;padding-top: 60px;padding-bottom: 50px;margin-bottom: 0px;background: #ffffff;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="element-title align-center">
                            <h2>Nearest Restaurant In Your Location</h2>
                            <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="listing fancy">
                            <ul class="row" id="restaurantList">
                                {% for vendor in vendors %}
                                    <li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="list-post featured">
                                            <div class="img-holder">
                                                <figure>
                                                    {% if vendor.user_profile.profile_picture %}
                                                        <a href="#"><img
                                                                src="{{ vendor.user_profile.profile_picture.url }}"
                                                                class="img-thumb wp-post-image" alt=""></a>
                                                    {% else %}
                                                        <a href="#"><img
                                                                src="{% static 'employee/img/download.png' %}">
                                                        </a>{% endif %}
                                                </figure>

                                                <span class="restaurant-status close">
													<em class="bookmarkRibbon"></em>Close
												</span>

                                            </div>
                                            <div class="text-holder">
                                                <div class="list-rating">
                                                    <div class="rating-star">
                                                        <span class="rating-box" style="width: 100%;"></span>
                                                    </div>
                                                    <span class="reviews">(1)</span>
                                                </div>
                                                <div class="post-title">
                                                    <h5>
                                                        <a href="listing-detail.html">{{ vendor }}</a>
                                                        <span class="sponsored text-color">Sponsored</span>
                                                    </h5>
                                                </div>
                                                <address>
                                                    {% if vendor.address_line_1 and vendor.state and vendor.city %}
                                                        <span>Address:
                                                    </span>{{ vendor.address_line_1 }},  {{ vendor.state }},
                                                        {{ vendor.city }}
                                                    {% endif %}</address>
                                            </div>

                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="container mx-auto p-4">
                            <div class=" grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
                                 id="restaurantList">
                                {% for food in list_food_items %}
                                    <div class=" card bg-white rounded-lg overflow-hidden shadow-md hover:shadow-lg transition-shadow duration-300">
                                        <div class="relative" style="padding-bottom: 75%;">
                                            {% if food.image %}
                                                <img
                                                        src="{{ food.image.url }}"
                                                        alt="{{ food }}"
                                                        class="absolute top-0 left-0 w-full h-full object-cover"
                                                        onerror="this.src='{% static 'employee/img/download.png' %}'"
                                                >
                                            {% else %}
                                                <img
                                                        src="{% static 'employee/img/download.png' %}"
                                                        alt="{{ food }}"
                                                        class="absolute top-0 left-0 w-full h-full object-cover"
                                                >
                                            {% endif %}
                                        </div>
                                        <div class="p-4">
                                            <div class="flex items-center justify-between mb-2">
                                                <a class="font-semibold text-lg"
                                                   href="{% url 'food_item_detail' food.id %}"
                                                   style="    font-size: 25px;">{{ food }}</a>
                                                {#                                                <div class="flex items-center bg-green-500 text-white px-2 py-1 rounded text-sm">#}
                                                {#                                                    <span>4.2</span>#}
                                                {#                                                    <svg class="w-4 h-4 ml-1 fill-current" viewBox="0 0 24 24">#}
                                                {#                                                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>#}
                                                {#                                                    </svg>#}
                                                {#                                                </div>#}
                                            </div>
                                            <p class="text-sm text-gray-600 mb-2">{{ food.food_title|truncatechars:126|safe }}</p>
                                            <div class="flex items-center justify-between text-sm">
                                                <span>{{ food.price }} VND for one</span>
                                                <span class="text-gray-500">25 min</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Choose From Most Popular Listing End -->

        <!-- Home Pages Elements End  -->
        <!-- Main Section End -->

    </div>
{% endblock %}


{% block extra_scripts %}
    <script src="{% static 'js/search_location.js' %}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

