{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}Forgot password? | {{ block.super }}{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'employee/css/form_register.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'employee/css/login.css' %}">

{% endblock %}
{% block content %}
    <div class="main-section">
        <div class="page-section nopadding cs-nomargin"
             style="margin-top: 11px;padding-top: 60px;padding-bottom: 60px;margin-bottom: 10px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="user-dashboard loader-holder" style="width: 450px; min-width: auto ; min-height: 0%">
                            <div class="user-holder">
                                <h4 class="text-center" style="margin-bottom: 0;">Password reset</h4>
                                <p class="text-center">Forgotten your password? Enter your email address below, and
                                    we’ll email instructions for setting a new one.
                                </p>
                                <hr>
                                <div id="restaurant-sets-holder">
                                    <form class="form-fields-set foodbakery-dev-restaurant-form" method="post">
                                        <ul class="register-add-restaurant-tab-container restaurant-information-tab-container">
                                            <li>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="row">

                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                <div class="field-holder">
                                                                    <label>Email address:</label>
                                                                    {{ form.email | add_class:'wd400' }}

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <ul class="errors">
                                                    {% for fields in form %}
                                                        {% if fields.errors %}
                                                            {% for error in fields.errors %}
                                                                <li style="color: red; font-size:12px">{{ error }}</li>
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    <li style="color: red">{{ form.non_field_errors }}</li>
                                                </ul>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <div class="field-holder">
                                                            <div class="payment-holder ">
                                                                <div class="btnArea">
                                                                    <button type="submit" class="btn-primary key"
                                                                            name="send" value="send">Reset my password
                                                                    </button>
                                                                </div>
                                                                {% csrf_token %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}