{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Password Change {{ block.super }}{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'employee/css/form_register.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'employee/css/login.css' %}">

{% endblock %}
{% block content %}
    <div class="main-section">
        <div class="page-section nopadding cs-nomargin"
             style="margin-top: 11px;padding-top: 60px;padding-bottom: 60px;margin-bottom: 10px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="user-dashboard loader-holder"
                             style="width: 450px; min-width: auto ; min-height: 0%">
                            <div class="user-holder">
                                <h4 class="text-center" style="margin-bottom: 0;">Change Password</h4>
                                
                                <hr>
                                <div id="restaurant-sets-holder">
                                    <form class="form-fields-set foodbakery-dev-restaurant-form" method="post" action="">
                                        <ul class="register-add-restaurant-tab-container restaurant-information-tab-container">
                                            {{ form.non_field_errors }}
                                            {% for field in form %}
                                                <dl>
                                                    <dt>{{ field.label_tag }}</dt>
                                                    <dd>
                                                        {{ field }}
                                                        {{ field.errors }}
                                                    </dd>
                                                </dl>
                                            {% endfor %}
                                            <div class="field-holder">
                                                <div class="payment-holder ">
                                                    <div class="btnArea">
                                                        <button type="submit" class="btn-primary key"
                                                                name="send" value="send">Reset my password
                                                        </button>

                                                    </div>
                                                    {% csrf_token %}
                                                </div>
                                            </div>
                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

