.box {
    border: 1px solid #e0e0e0; /* Đường viền nhạt */
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.box-label {
    line-height: 1.2;
    font-weight: 400;
    margin: 0px;
    margin-block-end: 0px;
    color: rgb(130, 130, 130);
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding: 1rem 2rem;
}

.box-active {
    border-left: 3px solid rgb(239, 79, 95);
    transform: translateY(0%);
    opacity: 1;
    z-index: -1;
    transition: opacity 0.5s ease 0s, transform 0.5s ease 0s;
    background: linear-gradient(270deg, rgb(255, 237, 239) 0%, rgba(251, 246, 247, 0) 92.47%);
}

.box-not-record {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: none;
    opacity: 1;
    will-change: transform, opacity;
    border-radius: inherit;
    filter: unset;
    transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
}