{% extends 'base.html' %}
{% load static %}
{% block title %} 403 Forbidden | {{ block.super }} {% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'employee/css/404.css' %}">
{% endblock %}
{% block content %}
    <div class="main-section">
        <!-- 404 Page Start -->
        <div class="page-section nopadding cs-nomargin">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-not-found">
                            <div class="cs-text">
                                <span class="cs-error">403</span>
                                                                <br>

                                <span>Forbidden</span>
                                <p>The page cannot be displayed because you do not have permission to view the page you accessed.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 404 Page End -->
    </div>
{% endblock %}